@using TrashTracker.Data.Models.Enums
@using TrashTracker.Web.Utils
@model TrashFromUser

@{
    var previousPage = ViewData["previousPage"];
}

<div class="container">
    <h1>Új hulladékpont bejelentése</h1>
    <hr />
    @using (Html.BeginForm())
    {
        @await Html.PartialAsync("_CreateForm")
    }
</div>

<script src="~/js/position.js"></script>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
