@using TrashTracker.Data.Models.Enums
@model PaginatedList<Trash>

@{
    Boolean showCleaned = (Boolean)(ViewData["showCleaned"] ?? false);
    ViewData["Title"] = "Szemétpontok";
}

<div class="container">
    <h1>Szemétpontok</h1>
    <hr />
    <div class="row">
        <div class="col-md-auto d-flex align-items-center">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="showCleaned"
                @(showCleaned ? "checked" : "") />
                <label class="form-check-label">Megtisztítottak listázása</label>
            </div>
        </div>
        <div class="col-md">
            <input type="text" class="form-control" id="searchString"
                   placeholder="Felhasználónév vagy megjegyzés" value="@ViewData["currentFilter"]" />
        </div>
        <div class="col-md">
            <select class="form-select" id="pageSize">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
            </select>

        </div>
        <div class="col-md-auto">
            @Html.IconActionLink("Vissza a teljes listához", "fa-solid fa-arrow-left",
                     "Index", "Trashes", new(), new { @class = "btn btn-secondary" })
            <a href="#" class="btn btn-primary" onclick="filter()">
                <i class="fa-solid fa-magnifying-glass"></i> Keresés
            </a>
        </div>
    </div>
    <hr />
    @await Html.PartialAsync("~/Views/Trashes/_IndexList.cshtml", (Model, ViewContext.RouteData.Values))
</div>

<script src="~/js/index.js"></script>
