@using TrashTracker.Web.Controllers
@model UserDetails
@{
    ViewData["title"] = "Profil";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.Image" class="img-thumbnail" />
        </div>
        <div class="col-md-9 align-self-end">
            <h1>@Model.UserName</h1>
            @Html.IconActionLink(Model.Email, "fa-solid fa-envelope", $"mailto:{Model.Email}",
                     Model.EmailConfirmed
                     ? new { @class = "btn btn-info" }
                     : new { @class = "btn btn-info", disabled = "" })
            <hr />
        </div>
    </div>
    @await Html.PartialAsync("../Trashes/_IndexList", (Model.Trashes, ViewContext.RouteData.Values))
</div>