@{
    ViewData["Title"] = "Kezdőlap";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.0.0/ol.css">

<div id="map" class="map z-n1"></div>
<div id="popup"></div>
<div id="filter" class="z-0">
    <a class="btn btn-primary position-absolute bottom-0 start-0"
       data-bs-toggle="offcanvas" data-bs-target="#filter-menu">
        <i class="fa-solid fa-filter"></i>
    </a>
    <aside id="filter-menu" class="offcanvas offcanvas-bottom" tabindex="-1"
           data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Szűrés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            </div>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </aside>
</div>



<script type="module" src="main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/ol@v9.0.0/dist/ol.js"></script>
<script src="~/js/home.js"></script>